<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="" name="description">
    <title>{{ title }}</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="images/favicon.png" rel="icon">
</head>

<body>
    <div id="app">

        {{> header}}



        <div class="container-fluid" v-cloak>
            {{> calculation}}
            <section class="introduction row">

                <div class="col col-md-7">
                    <p>This tool will help you calculate if your business' partial exemption status and whether all input tax can be recovered.</p>
                    <blockquote cite="https://www.gov.uk/government/publications/vat-notice-706-partial-exemption/vat-notice-706-partial-exemption">
                        <p>A business is partly exempt if it makes, or intends to make, both taxable and exempt supplies and incurs tax on costs which relate to both.</p>
                        <p>If your business is partly exempt, you may not be able to recover all your input tax. You will have to use a partial exemption method to work out how much input tax you can recover.</p>
                        <footer><a href="https://www.gov.uk/government/publications/vat-notice-706-partial-exemption/vat-notice-706-partial-exemption">VAT Notice 706: partial exemption</a></footer>
                    </blockquote>
                    <p>You just have to enter Sales and VAT data for the business. The calculator will then apply the de-minimis tests and determine the status.</p>
                </div>
                <div class="col col-md-5">
                    <div class="controls">
                        <h3>Controls</h3>
                        <p>You can give your business a name.</p>
                        <div class="form-group">
                            <input type="text" id="business-name" v-model.number="state.businessName" required="true" disabled="true" v-on:keyup.enter="saveName" v-on:click="editName" placeholder="My Business" />
                            <button type="button" class="btn btn-default" v-on:click="editName" v-if="! editingName">Edit Name</button>
                            <button type="button" class="btn btn-default" v-on:click="saveName" v-if="editingName">Save Name</button>
                        </div>
                        <p>You can also calculate partial exemption for multiple businesses.</p>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" v-on:click="addNewBusiness">Add New Business</button>
                        </div>
                        <div class="form-group">
                            <select v-model="bid" class="form-control">
                            <option v-for="business in businesses"
                                    :value="business.id"
                                    :selected="business.selected">
                                    ${business.name} (${business.id})
                            </option>
                        </select>
                        </div>

                        <p>You can save all your data and load it again at a later date.</p>
                        <p> To save: Click the Save button below and then save the resulting dataset as a text file.</p>
                        <div class="form-group">
                            <button type="button" class="btn btn-default" v-on:click="saveState">Save All</button>
                        </div>
                        <p>The file can be loaded again:</p>
                        <div class="form-group">
                            <input type="file" ref="myFiles" 
                                class="form-control" @change="loadState" />
                        </div>
                    </div>
            </section>


            </div>
            <!-- end app -->
            {{> footer}}
        </div>

        <script src="scripts/script.js"></script>
</body>

</html>
