<section class="user-inputs data row">

    <div class="col col-md-3">
        <h2>Sales</h2>
        <p class="section-description">Enter the quarterly sales figures (outputs).</p>
        <p class="section-description">These are used to calculate the <i>percent exempt</i> to be applied to the Residual Input Tax.</p>
    </div>

    <div class="col col-md-9">
        <table id="table-outputs" class="table table-striped table-bordered table-condensed table-inputs five-column">
            <tr>
                <th class="first-column">&nbsp</th>
                <th v-for="quarter in quarters">${quarter}</th>
            </tr>
            <tr v-for="(row, rowkey) in state.outputs">
                <td class="first-column">${labels.outputs[rowkey]}</td>
                <td v-for="(value, key) in state.outputs[rowkey]">
                    <input type="number" class="form-control" v-model.number="state.outputs[rowkey][key]" :tabindex="tabOrder['outputs'][rowkey][key]" step="0.01" min="0" max="100000000" />
                </td>
                <td class="td-number">
                    <span>${totalYearlyOutputs[rowkey]}</span>
                </td>
            </tr>

            <tr :class="{ishidden: ! detailedView}">
                <td class="first-column">Percent Exempt</td>
                <td v-for="(value, key) in percentsExempt" class="td-percent">
                    <span v-if="percentsExempt[key] != null">${percentsExempt[key]}%</span>
                </td>

            </tr>
        </table>
    </div>
</section>

<section class="row">

    <div class="col col-md-3">
        <h2>VAT</h2>
        <p class="section-description">And enter the VAT on purchases.</p>
    </div>

    <div class="col col-md-9">
        <table id="table-outputs" class="table table-striped table-bordered table-condensed table-inputs">
            <tr>
                <th class="first-column">&nbsp</th>
                <th v-for="quarter in quarters">${quarter}</th>
            </tr>

            <tr v-for="(row, rowkey) in state.inputVAT">
                <td class="first-column">${labels.inputs[rowkey]}</td>
                <td v-for="(value, key) in state.inputVAT[rowkey]">
                    <input type="number" class="form-control" v-model.number="state.inputVAT[rowkey][key]" :tabindex="tabOrder['inputs'][rowkey][key]" step="0.01" min="0" max="100000000" />
                </td>
                <td class="td-number">
                    <span>${totalYearlyInputs[rowkey]}</span>
                </td>
            </tr>
            <tr :class="{ishidden: ! detailedView}">
                <td class="first-column">Total VAT on Inputs</td>
                <td v-for="(value, key) in totalInputs" class="td-number">
                    <span v-if="totalInputs[key]">${totalInputs[key]}</span>
                </td>
            </tr>

            <tr :class="{ishidden: ! detailedView}">
                <td class="first-column">Exempt Residual VAT</td>
                <td v-for="(value, key) in exemptResidualVAT" class="td-number">
                    <span v-if="exemptResidualVAT[key]">${exemptResidualVAT[key]}</span>
                </td>
            </tr>

            <tr :class="{ishidden: ! detailedView}">
                <td class="first-column">Total Exempt VAT</td>
                <td v-for="(value, key) in totalExemptVAT" class="td-number">
                    <span v-if="totalExemptVAT[key]">${totalExemptVAT[key]}</span>
                </td>
            </tr>

        </table>
        <p><button id="reset" v-on:click="reset">Reset</button></p>
    </div>
</section>

<section class="calculation-output data row">

    <div class="col col-md-3">
        <h2>Results</h2>
        <p class="section-description">De Minimis calculation has two tests. If both pass then the business can claim back 100% of VAT.</p>
        <p class="section-description">Status is calculated for the first three quarters as they are entered.</p>
        <p class="section-description">Once all four quarters are entered, the final (full yearly) result is calculated.</p>
    </div>

    <div class="col col-md-9">
        <table id="table-outputs" class="table table-striped table-bordered table-condensed table-inputs four-column test-results">

            <tr>
                <th class="first-column">&nbsp</th>
                <th v-for="quarter in quarters2">${quarter}</th>
            </tr>

            <tr v-for="(row, rowkey) in deminimis">
                <td class="first-column">${labels.results[rowkey]}</td>
                <td v-for="(value, key) in deminimis[rowkey]"
                    v-if="key != 'Q4'">
                    <test-result :result = "deminimis[rowkey][key]"></test-result>
                </td>
            </tr>
            
        </table>
    </div>

</section>
