<footer class='container-fluid div-footer'>
    <div class="row">
        <div class="col col-md-6">
            <p>This is the footer.</p>
        </div>
        <div class="col col-md-6">
            <p>Project last update on {{lastUpdated}}</p>
        </div>
    </div>
</footer>
