<footer class='container-fluid div-footer'>
    <div class="row">
        <div class="col col-md-7">
            <p>This is a prototype app <a href="http://treerock.me">I'm</a> developing to help small businesses navigate the UK's 'Partial Exemption' rules for VAT. Code available on <a href="https://github.com/BruceHad/VAT-Partial-Exemption">github</a>.</p>
            <p>Version: {{version}} | <a href="https://github.com/BruceHad/VAT-Partial-Exemption/issues">Issues</a></p>
        </div>
        <div class="col col-md-5">
            <p style="text-align: right">Project last update on {{lastUpdated}}</p>
        </div>
    </div>
</footer>
