@import 'bootstrap';

html {
    font-family: sans-serif;
    color: #333;
}

.div-header, .div-footer {
    background-color: #f1f1f1;
    padding: 30px 15px;
    h1 {
        color: #347DBD;
        margin: 0; padding: 0;
        font-size: 42px;
    }
    p {
        margin: 0; padding: 0;
        font-size: 18px;
    }
}



td,
th {
    text-align: center;
}

.text {
    max-width: 700px;
}

section {
    padding: 30px 0;
}

/** Tables 
 */

.table-inputs {
    table-layout: fixed;
    input {}
    td {
        max-width: 72.5% / 3;
    }
    .first-column {
        width: 27.5%; 
        text-align: right;
    }
}

tr.results {

    div {
        margin: -5px;
        padding: 5px;
    }
    .pass {
        background-color: green;
    }

    .fail {
        background-color: yellow;
    }

    td {
        // padding: 0 !important;
    }
}

/** Hacks **/

// Hide controls on number <input> fields

input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}